<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    
      <div class="navbar-menu">
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              %from kontroler import trenutno_uporabnisko_ime
              %uporabnik=trenutno_uporabnisko_ime()
              %if uporabnik is None:
                <a href="/registracija/" class="button is-primary">
                  <strong>Registracija</strong>
                </a>
                <a href="/prijava/" class="button is-light">
                  Prijava
                </a>
              %else:
                <a href="/odjava/" class="button is-light is-info">
                  Odjava
                </a>
              %end
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      {{!base}}
    </section>
    <footer>© 2021, Job Petrovčič. Spletna stran poda približen datum roka. Nisem odgovoren za morebitno zastrupitvijo s hrano.</footer>
  </body>
</html>
