% rebase('base.html')
<div class="column">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="button navbar-item is-active"> Evidenčni seznam nakupljenih živil </a>
    
                <a class="button is-primary navbar-item" href="/dodaj_racun/">skeniraj račun</a>
    
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="icon fas fa-plus-circle is-large navbar-item has-text-info"></a>
    
                    <div class="navbar-dropdown">
                       
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>porabi</th>
                <th>živilo</th>
                <th>masa</th>
                <th>datum nakupa</th>
                <th>rok uporabe</th>
                <th>tip živila</th>
            </tr>
        </thead>
        <tbody>
            % for stevec, nakupljeno_zivilo in enumerate(nakup.nakupljena_zivila):
            <tr>
                <td>
                    <a href="/odstrani_nakupljeno/?id={{stevec}}">
                        <span class="fa fa-minus-circle has-text-warning" ></span>
                    </a>
                </td>
                <td>{{nakupljeno_zivilo.zivilo.ime}}</td>
                <td>{{nakupljeno_zivilo.masa}}</td>
                <td>{{str(nakupljeno_zivilo.datum_nakupa)}}</td>
                <td
                    % if nakupljeno_zivilo.preteceno():
                        class="is-danger"
                    % end
                >{{str(nakupljeno_zivilo.datum_roka)}}</td>
                <td>{{nakupljeno_zivilo.zivilo.tip}}</td>
            </tr>
            % end
        </tbody>
    </table>
</div>